{% extends 'base.html.twig' %}

{% block title %}Crée un compte{% endblock %}

{% block body %}
<h1 class="text-center mt-5 mb-5">créer un compte</h1>
<div class="container">
{{form(registerForm)}}
</div>
{% endblock %}
