{% extends 'base.html.twig' %}

{% block title %}Créer une annonce{% endblock %}

{% block body %}

<h1 class="text-center">Créer une annonce</h1>


<div class="container">
    {{form(annonceForm)}}
</div>
{% endblock %}
